<a href="https://colab.research.google.com/github/rahul-kr-soni/testing/blob/main/rahul_assignment_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#My name is Anuradha

In [ ]:
# Installing Pandasql
!pip install pandasql
# Importing Libraries
import pandas as pd
from pandasql import sqldf
mysql = lambda q: sqldf(q, globals())

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.4.46)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26787 sha256=643d5d9121db81639b380b0386f29ff527198530dafd349670dd01e9a46acdb7
  Stored in directory: /root/.cache/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/my prep/Book1.csv')

In [ ]:
df

    Name      Date
0  Rahul  02/02/22
1    Ali  02/02/22
2  Rahul  03/02/22
3    Ali  03/02/22
4  Rahul       NaN
5    Ali  04/02/22
6  Rahul  05/02/22
7  Rahul  06/02/22
8    Ali       NaN

In [ ]:
df['c']=[1,1,2]

ValueError: ignored

In [ ]:
qry='''
select * from df

'''
mysql(qry)

mysql("select * from df")

    Name      Date
0  Rahul  02/02/22
1    Ali  02/02/22
2  Rahul  03/02/22
3    Ali  03/02/22
4  Rahul      None
5    Ali  04/02/22
6  Rahul  05/02/22
7  Rahul  06/02/22
8    Ali      None

In [ ]:
# attendece of each student
qry= '''
select Name, count(Name) as attendence from df
where Date is not null
group by Name

'''
mysql(qry)

    Name  attendence
0    Ali           3
1  Rahul           4

In [ ]:
#percentage of attendence

qry='''
select present*100/total, name from (select * from (select count(*) as present,name from df
where date is not null
group by name) as p1
join (select count(name) as total,name from df
group by name) as t1
on t1.name = p1.name)
'''
mysql(qry)

   present*100/total   name
0                 75    Ali
1                 80  Rahul

In [ ]:
# number of absent of each student
qry='''
select Name, count(Name) as absent from df
where Date is  null
group by Name

'''
mysql(qry)

    Name  absent
0    Ali       1
1  Rahul       1

In [ ]:
qry='''
select count(Name) as total,Name from df
group by Name

'''
mysql(qry)

   total   Name
0      4    Ali
1      5  Rahul

In [ ]:
qry='''
select * from (select count(*) as present,name from df
where date is not null
group by name) as p1
join (select count(name) as total,name from df
group by name) as t1
on t1.name = p1.name
'''
mysql(qry)

   present   name  total   name
0        3    Ali      4    Ali
1        4  Rahul      5  Rahul

In [ ]:
df_cumsum=pd.read_csv('/content/drive/MyDrive/my prep/cumsum.csv')

In [ ]:
df_cumsum

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10

In [ ]:
select

NameError: ignored

In [ ]:
# cummulative sum

qry='''Select d1.Number,Sum(d2.Number) from df_cumsum as d1
        cross Join df_cumsum as d2
        where d1.Number >= d2.Number
        group by d1.Number
        order by d1.Number
'''

mysql(qry)

   Number  Sum(d2.Number)
0       1               1
1       2               3
2       3               6
3       4              10
4       5              15
5       6              21
6       7              28
7       8              36
8       9              45
9      10              55

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/my prep/aff.csv')

In [ ]:
df

   Nuber
0      1
1      1
2      2

In [ ]:
table a.       table b          
1               1
1               1
1               2
0

In [ ]:
#inner
    tablea.      tableb
1 = 3.       *     2. = 6


#left

    tablea.      tableb
1 = 3.       *     2. = 6
0 = 1        *     null(1)=1. sum(6+1)=7

In [ ]:
1 1
1 1
1 1
1 1
1 1
1 1

In [ ]:
table a.       table b          
1               1
1               1
1               2
0               0
3               0
3               2
                3

In [ ]:
#inner
    tablea.      tableb
1 = 3.       *     2. = 6        
0 = 1       *.     2. = 2       sum(6,2) = 8


left 

#left
    tablea.      tableb
1 = 3.       *     2. = 6        
0 = 1       *.     2. = 2
3 = 2        *     null(1)=2.      10 rows


#right

    tableb.      tablea
1 = 2       *     3 = 6        
0 = 2       *.    1 = 2
2 = 2       *     null(1)=2.     12 rows
3 = 1.      *.    2 = 2


#cross

number of row tablea * total of row tableb 
6 * 7           =      36

In [ ]:
qry='''
select * from df as a
 left outer join df b on b.Nuber = a.Nuber 

'''
mysql(qry)

   Nuber  Nuber
0      1      1
1      1      1
2      1      1
3      1      1
4      2      2

In [ ]:
df_cred=pd.read_csv('/content/drive/MyDrive/cred/cred_data.csv')

In [ ]:
df_cred

In [ ]:
qry='''
select userID, count(Distinct (itemID)) From df_cred
where  Amount > 100
Group by userID
Having Count(Distinct itemID) > 4 

'''
mysql(qry)

In [ ]:
qry='''
select count(distinct) From df_cred
where  Date between now() - interval 240 day and now() - interval 180 day and Status = 'NBg';

'''
mysql(qry)

In [ ]:
df =pd.read_excel('/content/drive/MyDrive/raw_data.xlsx')

In [ ]:
df.head()

,quote_month,state,product,carrier,organization_id,organization_name,root_organization_name,org_created_month,organization_type,is_bound,...,sum_num_of_quotes,sum_producer_bound_policies,sum_bound_policies,sum_producer_bound_policies_30d,sum_producer_bound_policies_60d,sum_producer_bound_policies_90d,sum_producer_quote_policies_30d,sum_producer_quote_policies_60d,sum_producer_quote_policies_90d,sum_producer_agent
0,44136,ga,ho3,spinnaker,902.0,Guaranteed Rate Insurance,Guaranteed Rate Insurance,43525.0,Partner,True,...,6,0,6,0,0,0,0,0,0,6
1,44166,in,ho3,spinnaker,3846.0,Elkhart 46517 - Acceptance Insurance - PAC132,"Appalachian Underwriters, Inc.",44013.0,Producer,True,...,11,11,11,0,0,11,11,0,11,11
2,44166,ca,ho6,spinnaker,835.0,Goosehead Insurance,Goosehead Insurance,43525.0,Producer,True,...,9,9,9,0,0,9,9,0,9,9
3,44105,ca,dp3,topa,671.0,"InsuranceOnline.com Services, Inc.","First Connect Insurance Services, LLC",43466.0,Producer,True,...,11,11,11,0,0,11,11,0,11,10
4,44105,nv,ho3,topa,3376.0,Durante Insurance and Financial Services (Chri...,"First Connect Insurance Services, LLC",43952.0,Producer,True,...,6,6,6,0,0,6,6,0,6,6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23185 entries, 0 to 23184
Data columns (total 24 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   quote_month                           23185 non-null  int64
 1   state                                 23185 non-null  object
 2   product                               23185 non-null  object
 3   carrier                               23185 non-null  object
 4   organization_id                       23183 non-null  float64
 5   organization_name                     23183 non-null  object
 6   root_organization_name                23183 non-null  object
 7   org_created_month                     23183 non-null  float64
 8   organization_type                     5912 non-null   object
 9   is_bound                              23185 non-null  bool
 10  is_intent                             23185 non-null  bool
 11  bound_month                           5912 non-null   float64
 12  avg_days_between_bound_and_effective  5912 non-null   float64
 13  sum_total_premium_quoted              23185 non-null  int64
 14  sum_num_of_quotes                     23185 non-null  int64
 15  sum_producer_bound_policies           23185 non-null  int64
 16  sum_bound_policies                    23185 non-null  int64
 17  sum_producer_bound_policies_30d       23185 non-null  int64
 18  sum_producer_bound_policies_60d       23185 non-null  int64
 19  sum_producer_bound_policies_90d       23185 non-null  int64
 20  sum_producer_quote_policies_30d       23185 non-null  int64
 21  sum_producer_quote_policies_60d       23185 non-null  int64
 22  sum_producer_quote_policies_90d       23185 non-null  int64
 23  sum_producer_agent                    23185 non-null  int64
dtypes: bool(2), float64(4), int64(12), object(6)
memory usage: 3.9+ MB

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
mysql(''' select state, sum_num_of_quotes, from df Group by state ''')

   state  sum_num_of_quotes
0     al                  1
1     ar                  1
2     az                 22
3     ca                  9
4     co                  9
5     ct                 60
6     de                  4
7     ga                  6
8     il                 11
9     in                 11
10    ks                 29
11    ky                  3
12    md                 50
13    me                 16
14    mn                  6
15    mo                 54
16    ms                  7
17    ne                 50
18    nh                 58
19    nj                  7
20    nm                 20
21    nv                  6
22    oh                 44
23    or                  1
24    pa                  8
25    sc                  7
26    tn                 20
27    tx                 92
28    ut                  4
29    va                 10
30    wa                 21
31    wi                 16

In [ ]:
qry = '''
with cte as
(
  root_organization_name,(bound_month/sum_producer_bound_policies) as Policies_bound from df
)

select * from cte
'''

mysql('(bound_month/sum_producer_bound_policies) as Policies_bound from df')

PandaSQLException: ignored

In [ ]:
l1= [1,2,3,4,5]   #[1,4,9,16,25] ==> l1 **2

In [ ]:
print(l1)

[1, 2, 3, 4, 5]

In [ ]:
output = []

for num in l1:

  output.append(num*num)

In [ ]:
output

[1, 4, 9, 16, 25]

In [ ]:
#list_comprehention

output2 =[num*num for num in l1 ]

In [ ]:
output2

[1, 4, 9, 25]

In [ ]:
1! = 1
2!=2*1
3!=3*2*1

In [ ]:
4*3*2*1

24

In [ ]:
a = 1
n=4
for i in range(n,1,-1):
    a = a*i
    #print(a)
print(a)

24

In [ ]:
a=1
n=4
output=[i*i-1 for i in range(n,1,-1)]

In [ ]:
output

[15, 8, 3]

In [ ]:
boolean_list = [True, False]

boolean_list.sort(reverse = True)
print(boolean_list)

[True, False]

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7}
print(s1)

s3=s1.intersection(s2) #{4,5}

for i in s1.intersection(s2):
  s1.remove(i)
  s2.remove(i)

print(f"s1={s1}")
print(f"s2={s2}")

{1, 2, 3, 4, 5}
s1={1, 2, 3}
s2={4, 5, 6, 7}

In [ ]:
# s="Almabetter"
# # l=[2,3,4]
# # l.pop(1)
# # l
# n = 1
def rem(s,n):
  l1=[i for i in s]
  l1.pop(n)
  s="".join(l1)
  return s

'Amabetter'

In [ ]:
rem("Almabetter",3)

'Almbetter'

In [ ]:
#function : code that are reusable

In [ ]:
a=2
b=3
print(a+b)

5

In [ ]:
a = 5
b= 6
print(a+b)

11

In [ ]:
def sid(a,b):
  if a > b: 
    print(a+b)
    print("addition done")
  else:
    print(b-a)
    print("substraction done")

In [ ]:
sid(5,4)

9
addition done

In [ ]:
sid(4,6)

2
substraction done

In [ ]:
x=int(input("enter a"))
y=int(input("enter b")) 
sid(x,y)

enter a12
enter b16
4
substraction done